.footer {
  padding: 30px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__copyright {
    @include adaptiveValue("font-size", 14, 20);
    color: $primary-color-black;

    span {
      display: none;
      @media screen and (min-width: $desktop) {
        display: inline-block;
      }
    }
  }

  &__payments {
    display: flex;
    column-gap: 40px;
  }
}
