.product-details {
  @include adaptiveValue("margin-bottom", 40, 70);

  &__title {
    @include adaptiveValue("font-size", 16, 24);
    @include adaptiveValue("padding-top", 30, 50);
    padding-bottom: 8px;
    font-weight: 500;
  }

  &__rating {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
    @include adaptiveValue("margin-bottom", 6, 32);
  }

  &__rating-count {
    font-size: 14px;
    line-height: 130%;
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 24px;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: $secondary-color-grey-card;
    @media screen and (min-width: $tablet) {
      background-color: inherit;
      padding: 0;
      border-radius: 0;
    }
  }

  &__tabs-item {
    padding: 5px 0;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer;
    transition:
      border 0.3s,
      color 0.3s;

    &:hover {
      border-color: $primary-color-blue;
      color: $primary-color-blue;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }

  &__tabs-active {
    border-color: $primary-color-blue;
    color: $primary-color-blue;
  }
  .product-details-link-home .breadcrumbs__link {
  margin-top: 10px;
    display: inline-block;
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  .product-details-link-home .breadcrumbs__home-img {
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
  }

  .product-details-link-home .breadcrumbs__text {
    display: inline-block;
    vertical-align: middle;
  }
}
