.input_ui {
  &__inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1.6rem;
  }

  &__input {
    background: #fff;
    padding: 0.8rem 1.6rem;
    border-radius: 1rem;
    max-width: 100%;
    width: 100%;

    &::placeholder {
      color: rgba(51, 51, 51, 0.2);
    }
  }

  &__error {
    outline: 0.2rem solid rgb(255, 90, 90);
  }
}
