.pagination {
  @include flex-container(row, center, center, nowrap);
  margin-top: 40px;
  margin-bottom: 48px;

  &__load-more-btn {
    padding: 12px;
    border: 1px solid rgba($primary-color-black, 0.2);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      border: 1px solid rgba($primary-color-black, 1);
    }

    &--active {
      border: 1px solid rgba($secondary-color-blue-light, 1);
      color: $secondary-color-blue-light;
      user-select: none;

      &:hover {
        border: 1px solid rgba($secondary-color-blue-light, 1);
      }
    }
  }
}
